* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 2000px;
}

nav {
  clear: both;
}

.fixed-nav-bar {
  height: 100px;
  width:100%;
  background-color: #426196;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999 !important;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
/*  border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.mobile {
  display: none;
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0.5);
  margin-top: 100px;
}

.nav-item {
  position: relative;
  line-height: 75px;
  height: 75px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: height 0.5s ease,
  line-height 0.5s ease;
}

.nav-item:hover {
  height: 125px;
  line-height: 125px;
  transition: height 0.5s ease,
  line-height 0.5s ease;
}
.nav-item:nth-child(1) {
  background-color: #426196;
  z-index: 9;
}

.nav-item:nth-child(2) {
  background-color: #F1D776;
  z-index: 8;
}

.nav-item:nth-child(3) {
  background-color: #3BBBB2;
  z-index: 7;
}

.nav-item:active {
  box-shadow: none;
}

.nav-item a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  font-size: 2em;
}



.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  float: right;
  margin-right: 30px;
  margin-top: 26px;
  margin-bottom: 26px;
  }

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}



.c-hamburger--htx {
  background-color: #ff3264;
  background-color: #426196;
  border: 1px solid rgba(255,255,255,0.7);
  border-radius: 2px;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #cb0032;
  background-color: ;

}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

img {
    max-width: 100%;
}

.logo img, object {
    max-width: 100%;
    padding: 0;
    margin: 17.5px auto;
    float: left;
    margin-left: 30px;
}
